# Devicespecific stuff
*customized*
*customrc*
*customenv*
x11startup
*myterm*
*vifminfo.json*

# Anything in qutebrowser except config
/dotfiles/config/qutebrowser/*
!/dotfiles/config/qutebrowser/config.py

# I don't know what this is
*__pycache__*

# Anything in newsboat except config
newsboat*
*!newsboat/config

# All hidden files except gitignore
.*
*!/.gitignore

# Lazy nvim stuff
*lazy-lock.json*

# NNN-File manager files
/dotfiles/config/nnn/*
!/dotfiles/config/nnn/plugins
