[submodule "submodules/installer"]
	path = submodules/installer
	url = https://github.com/Gonzalesderkaefer/installer
[submodule "submodules/saferm"]
	path = submodules/saferm
	url = https://github.com/Gonzalesderkaefer/saferm
[submodule "submodules/jazzy"]
	path = submodules/jazzy
	url = https://github.com/Gonzalesderkaefer/jazzy
